body {
	font-family: sans-serif;
}

.wrapper {
	margin: 0 auto;
	display:flex;
}

h1 {
	text-align: center;
	color:green;
}

h2 {
	text-align: center;
	color:gray;
	size: 10px;
}

.center {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: 50%;
}

img {
	width:100%;
	height:auto;
}

.top-navigation {
	background-color: whitesmoke;
	border-bottom: 1px solid;
	position: relative;
	width: 100%;
}